In [75]:
import pandas as pd
from sqlalchemy import create_engine,inspect
from config import user, password, db_name
# Create database connection
rds_connection_string = f"{user}:{password}@localhost:5433/{db_name}"
engine = create_engine(f"postgresql://{rds_connection_string}")
print(rds_connection_string)
print(engine)

postgres:Password@localhost:5433/project_3
Engine(postgresql://postgres:***@localhost:5433/project_3)

In [76]:
# Import CSV with constructors data
csv_file = "Resources/constructors.csv"
constructors_df = pd.read_csv(csv_file)
constructors_df.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [77]:
#transform constructors data CSV
constructors_df = constructors_df.rename(columns={"constructorId": "constructor_id", "constructorRef": "constructor_ref"})
constructors_df.head()

,constructor_id,constructor_ref,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [78]:
engine.execute("select 1")

In [79]:
#export constructors data
constructors_df.to_sql(name='constructors', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_constructors"
DETAIL:  Key (constructor_id)=(1) already exists.

[SQL: INSERT INTO constructors (constructor_id, constructor_ref, name, nationality, url) VALUES (%(constructor_id)s, %(constructor_ref)s, %(name)s, %(nationality)s, %(url)s)]
[parameters: ({'constructor_id': 1, 'constructor_ref': 'mclaren', 'name': 'McLaren', 'nationality': 'British', 'url': 'http://en.wikipedia.org/wiki/McLaren'}, {'constructor_id': 2, 'constructor_ref': 'bmw_sauber', 'name': 'BMW Sauber', 'nationality': 'German', 'url': 'http://en.wikipedia.org/wiki/BMW_Sauber'}, {'constructor_id': 3, 'constructor_ref': 'williams', 'name': 'Williams', 'nationality': 'British', 'url': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering'}, {'constructor_id': 4, 'constructor_ref': 'renault', 'name': 'Renault', 'nationality': 'French', 'url': 'http://en.wikipedia.org/wiki/Renault_in_Formula_One'}, {'constructor_id': 5, 'constructor_ref': 'toro_rosso', 'name': 'Toro Rosso', 'nationality': 'Italian', 'url': 'http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso'}, {'constructor_id': 6, 'constructor_ref': 'ferrari', 'name': 'Ferrari', 'nationality': 'Italian', 'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari'}, {'constructor_id': 7, 'constructor_ref': 'toyota', 'name': 'Toyota', 'nationality': 'Japanese', 'url': 'http://en.wikipedia.org/wiki/Toyota_Racing'}, {'constructor_id': 8, 'constructor_ref': 'super_aguri', 'name': 'Super Aguri', 'nationality': 'Japanese', 'url': 'http://en.wikipedia.org/wiki/Super_Aguri_F1'}  ... displaying 10 of 211 total bound parameter sets ...  {'constructor_id': 213, 'constructor_ref': 'alphatauri', 'name': 'AlphaTauri', 'nationality': 'Italian', 'url': 'http://en.wikipedia.org/wiki/Scuderia_AlphaTauri'}, {'constructor_id': 214, 'constructor_ref': 'alpine', 'name': 'Alpine F1 Team', 'nationality': 'French', 'url': 'http://en.wikipedia.org/wiki/Alpine_F1_Team'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
# Import CSV with races data
csv_file = "Resources/races.csv"
races_df = pd.read_csv(csv_file)
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,29/03/09,6:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,05/04/09,9:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,19/04/09,7:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,26/04/09,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,10/05/09,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [ ]:
#transform races csv
races_df = races_df.rename(columns={"raceId": "race_id", "circuitId": "circuit_id"})
races_df.head()

,race_id,year,round,circuit_id,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,29/03/09,6:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,05/04/09,9:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,19/04/09,7:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,26/04/09,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,10/05/09,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [ ]:
#export racess data
races_df.to_sql(name='races', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.DatetimeFieldOverflow) date/time field value out of range: "29/03/09"
LINE 1: ...) VALUES (1, 2009, 1, 1, 'Australian Grand Prix', '29/03/09'...
                                                             ^
HINT:  Perhaps you need a different "datestyle" setting.

[SQL: INSERT INTO races (race_id, year, round, circuit_id, name, date, time, url) VALUES (%(race_id)s, %(year)s, %(round)s, %(circuit_id)s, %(name)s, %(date)s, %(time)s, %(url)s)]
[parameters: ({'race_id': 1, 'year': 2009, 'round': 1, 'circuit_id': 1, 'name': 'Australian Grand Prix', 'date': '29/03/09', 'time': '6:00:00', 'url': 'http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix'}, {'race_id': 2, 'year': 2009, 'round': 2, 'circuit_id': 2, 'name': 'Malaysian Grand Prix', 'date': '05/04/09', 'time': '9:00:00', 'url': 'http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix'}, {'race_id': 3, 'year': 2009, 'round': 3, 'circuit_id': 17, 'name': 'Chinese Grand Prix', 'date': '19/04/09', 'time': '7:00:00', 'url': 'http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix'}, {'race_id': 4, 'year': 2009, 'round': 4, 'circuit_id': 3, 'name': 'Bahrain Grand Prix', 'date': '26/04/09', 'time': '12:00:00', 'url': 'http://en.wikipedia.org/wiki/2009_Bahrain_Grand_Prix'}, {'race_id': 5, 'year': 2009, 'round': 5, 'circuit_id': 4, 'name': 'Spanish Grand Prix', 'date': '10/05/09', 'time': '12:00:00', 'url': 'http://en.wikipedia.org/wiki/2009_Spanish_Grand_Prix'}, {'race_id': 6, 'year': 2009, 'round': 6, 'circuit_id': 6, 'name': 'Monaco Grand Prix', 'date': '24/05/09', 'time': '12:00:00', 'url': 'http://en.wikipedia.org/wiki/2009_Monaco_Grand_Prix'}, {'race_id': 7, 'year': 2009, 'round': 7, 'circuit_id': 5, 'name': 'Turkish Grand Prix', 'date': '07/06/09', 'time': '12:00:00', 'url': 'http://en.wikipedia.org/wiki/2009_Turkish_Grand_Prix'}, {'race_id': 8, 'year': 2009, 'round': 8, 'circuit_id': 9, 'name': 'British Grand Prix', 'date': '21/06/09', 'time': '12:00:00', 'url': 'http://en.wikipedia.org/wiki/2009_British_Grand_Prix'}  ... displaying 10 of 1079 total bound parameter sets ...  {'race_id': 1095, 'year': 2022, 'round': 21, 'circuit_id': 18, 'name': 'Brazilian Grand Prix', 'date': '13/11/22', 'time': '18:00:00', 'url': 'http://en.wikipedia.org/wiki/2022_Brazilian_Grand_Prix'}, {'race_id': 1096, 'year': 2022, 'round': 22, 'circuit_id': 24, 'name': 'Abu Dhabi Grand Prix', 'date': '20/11/22', 'time': '13:00:00', 'url': 'http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Grand_Prix'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [ ]:
# Import CSV with circuits data
csv_file = "Resources/circuits.csv"
circuits_df = pd.read_csv(csv_file)
circuits_df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [ ]:
circuits_df = circuits_df.rename(columns={"circuitId": "circuit_id", "circuitRef": "circuit_ref", 
"name": "circuit_name"})
circuits_df.head()

,circuit_id,circuit_ref,circuit_name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [ ]:
#export circuit data
circuits_df.to_sql(name='circuits', con=engine, if_exists='append', index=False)

In [ ]:
# Import CSV with results data
csv_file = "Resources/results.csv"
results_df = pd.read_csv(csv_file)
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [ ]:
#transform results csv
results_df = results_df.rename(columns={"raceId": "race_id", 
"resultId": "result_id",
"driverId": "driver_id",
"constructorId": "constructor_id",
"fastestLap": "fastest_lap",
"rank": "fastest_lap_rank",
"fastestLapTime": "fastest_lap_time",
"fastestLapSpeed": "fastest_lap_speed",
"statusId": "status_id"})
results_df.head()

,result_id,race_id,driver_id,constructor_id,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastest_lap,fastest_lap_rank,fastest_lap_time,fastest_lap_speed,status_id
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [ ]:
#export results csv
results_df.to_sql(name='results', con=engine, if_exists='append', index=False)

In [ ]:
# Import CSV with qualifying data
csv_file = "Resources/qualifying.csv"
qualifying_df = pd.read_csv(csv_file)
qualifying_df.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [ ]:
#transform results csv
qualifying_df = qualifying_df.rename(columns={
"qualifyId": "qualify_id",
"raceId": "race_id", 
"constructorId": "constructor_id",
"driverId": "driver_id",
"milliseconds" : "time_milli"})
qualifying_df.head()

,qualify_id,race_id,driver_id,constructor_id,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [ ]:
#export qualifying csv
qualifying_df.to_sql(name='qualifying', con=engine, if_exists='append', index=False)

In [ ]:
# Import CSV with pit_stops data
csv_file = "Resources/pit_stops.csv"
pit_stops_df = pd.read_csv(csv_file)
pit_stops_df.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [ ]:
#transform pit_stops csv
pit_stops_df = pit_stops_df.rename(columns={
"raceId": "race_id", 
"driverId": "driver_id",
"stop": "stop_number",
"milliseconds": "time_milli"})
pit_stops_df.head()

   race_id  driver_id  stop_number  lap      time duration  time_milli
0      841        153            1    1  17:05:23   26.898       26898
1      841         30            1    1  17:05:52   25.021       25021
2      841         17            1   11  17:20:48   23.426       23426
3      841          4            1   12  17:22:34   23.251       23251
4      841         13            1   13  17:24:10   23.842       23842

In [ ]:
#export pit_stops csv
pit_stops_df.to_sql(name='pit_stops', con=engine, if_exists='append', index=False)

In [ ]:
# Import CSV with lap_times data
csv_file = "Resources/lap_times.csv"
lap_times_df = pd.read_csv(csv_file)
lap_times_df.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [ ]:
#transform lap_times csv
lap_times_df = lap_times_df.rename(columns={
"raceId": "race_id", 
"driverId": "driver_id",
"milliseconds": "time_milli"
})
lap_times_df.head()

   race_id  driver_id  lap  position      time  time_milli
0      841         20    1         1  1:38.109       98109
1      841         20    2         1  1:33.006       93006
2      841         20    3         1  1:32.713       92713
3      841         20    4         1  1:32.803       92803
4      841         20    5         1  1:32.342       92342

In [ ]:
#export lap_times csv
lap_times_df.to_sql(name='lap_times', con=engine, if_exists='append', index=False)

In [ ]:
# Import CSV with status data
csv_file = "Resources/status.csv"
status_df = pd.read_csv(csv_file)
status_df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [ ]:
#transform status csv
status_df = status_df.rename(columns={
"statusId": "status_id"})
status_df.head()

   status_id        status
0          1      Finished
1          2  Disqualified
2          3      Accident
3          4     Collision
4          5        Engine

In [ ]:
#export status csv
status_df.to_sql(name='status', con=engine, if_exists='append', index=False)

In [80]:
# Import CSV with drivers data
csv_file = "Resources/drivers.csv"
drivers_df = pd.read_csv(csv_file)
drivers_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [81]:
#transform drivers csv
drivers_df = drivers_df.rename(columns={
"driverRef": "driver_ref", 
"driverId": "driver_id",
"forename": "first_name",
"surname": "last_name"})
drivers_df.head()

,driver_id,driver_ref,number,code,first_name,last_name,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [82]:
#export drivers csv
status_df.to_sql(name='drivers', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "status_id" of relation "drivers" does not exist
LINE 1: INSERT INTO drivers (status_id, status) VALUES (1, 'Finished...
                             ^

[SQL: INSERT INTO drivers (status_id, status) VALUES (%(status_id)s, %(status)s)]
[parameters: ({'status_id': 1, 'status': 'Finished'}, {'status_id': 2, 'status': 'Disqualified'}, {'status_id': 3, 'status': 'Accident'}, {'status_id': 4, 'status': 'Collision'}, {'status_id': 5, 'status': 'Engine'}, {'status_id': 6, 'status': 'Gearbox'}, {'status_id': 7, 'status': 'Transmission'}, {'status_id': 8, 'status': 'Clutch'}  ... displaying 10 of 137 total bound parameter sets ...  {'status_id': 138, 'status': 'Debris'}, {'status_id': 139, 'status': 'Illness'})]
(Background on this error at: https://sqlalche.me/e/14/f405)